* {
    text-align:center;
    font-family: Helvetica;
}

.top{
    background-image: url("../images/the-flatiron-building.png");
    color: white;
}

nav, span{
    font-size: 18px;
    color: white;
}

ul, li {
    list-style-type: none;
    padding-bottom: 10px;
}

h1{
    font-size: 70px;
    font-weight: bold;  
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 23px;
    font-weight: bold;    
}

p{
    font-size: 14px;    
}

.new-york{
    font-size: 23px;
    font-weight: bold;
    color: white;
    background-image: url("../images/the-flatiron-building.png");
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.footer{
    color: white; 
    background-color: dimgray;
}

.footer p{
    font-size: 11px;
    text-align:left;
}